---
import { getBreadcrumbs } from "@/lib/utils/breadcrumb";

const { className, title }: { className?: string; title?: string } =
  Astro.props;

const parts = getBreadcrumbs(Astro.url.pathname, title);
---

<nav aria-label="Breadcrumb" class={className}>
  <ol
    class="inline-flex flex-wrap items-center text-sm md:text-base"
    role="list"
    itemscope
    itemtype="https://schema.org/BreadcrumbList"
  >
    {
      parts.map((part, index: number) => (
        <li
          class="mx-1 flex items-center"
          role="listitem"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          {index > 0 && <span class="inline-block mr-1">/</span>}
          <meta itemprop="position" content={`${index + 1}`} />
          {index !== parts.length - 1 ? (
            <a
              class="inline-flex items-center px-1 min-h-[44px] text-primary dark:text-darkmode-primary"
              href={part.href}
              itemprop="item"
            >
              <span itemprop="name">{part.label}</span>
            </a>
          ) : (
            <span
              class="inline-flex items-center px-1 min-h-[44px] text-text-light dark:text-darkmode-text-light"
              itemprop="name"
            >
              {part.label}
            </span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
