---
import Base from "@/layouts/Base.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
---

<Base title="Страница не найдена">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <Breadcrumbs className="mb-6" title="404" />
          <span
            class="text-[8rem] block font-bold text-text-dark dark:text-darkmode-text-dark"
          >
            404
          </span>
          <h1 class="h2 mb-4">Страница не найдена</h1>
          <div class="content">
            <p>
              Страница, которую вы ищете, возможно, была удалена, переименована
              или временно недоступна.
            </p>
            <p class="mt-4">
              Телефон:
              <a href="tel:+375298462462" class="font-bold">+375 29 8-462-462</a
              >
            </p>
          </div>
          <a href="/" class="btn btn-primary mt-8">На главную</a>
        </div>
      </div>
    </div>
  </section>
</Base>
