# ===== Telegram-бот =====
# Токен, полученный у @BotFather
TELEGRAM_BOT_TOKEN=ВАШ_TELEGRAM_БОТ_ТОКЕН

# ===== UnicBoard API =====
# Токен API (из api_token.txt)
UNICBOARD_API_TOKEN=ВАШ_API_ТОКЕН
# Базовый URL API
UNICBOARD_API_BASE=https://api.public.data-aggregator.unicboard.by